{% extends "base.html" %}

{% block title %}
<title>Categoría</title>
{% endblock %}

{% block content %}
<div class="tituloContenido">
    <h4>Categoría</h4>
</div>
<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
    <li class="span3">
        <div class="thumbnail">
            <img src="./img/200.png" alt="Producto">
            <div class="detalleProducto">
                <a href="./producto"><h5>Producto</h5></a>
                <h6>20.00 €</h6>
            </div>
        </div>
    </li>
</ul>
{% endblock %}